name: voice-assistant

services:
  backend:
    build: .
    container_name: voice-backend
    ports:
      - "0.0.0.0:8001:8001"
    env_file:
      - .env
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,utility
    volumes:
      - ./app:/app/app:ro
      - ./whisper-cache:/root/.cache
      - ./certs:/app/certs:ro
    gpus: all

  # frontend:
  #   build: ../frontend
  #   container_name: voice-frontend
  #   ports:
  #     - "3000:3000"
  #   environment:
  #     - NUXT_PUBLIC_WS_AUDIO_URL=ws://backend:8001
  #   depends_on:
  #     - backend
