{
  "token": "YOUR_ACCESS_TOKEN_WILL_BE_HERE_AFTER_AUTH",
  "refresh_token": "YOUR_REFRESH_TOKEN_WILL_BE_HERE",
  "token_uri": "https://oauth2.googleapis.com/token",
  "client_id": "YOUR_CLIENT_ID.apps.googleusercontent.com",
  "client_secret": "YOUR_CLIENT_SECRET",
  "scopes": ["https://www.googleapis.com/auth/calendar"],
  "expiry": "2026-01-17T00:00:00.000000Z"
}
